:root {
    --groen: #2a5a43;
    --beige: #e7e6d7;
    --lysgroen: #5c7860;
    --gul: #f9eb9e;
}

body {
    width: 100%;
    height: auto;
    margin: 0%;
    background-color: var(--beige);
}

.header {
    width: 100%;
    height: 12em;
    background-image: url(/images/forsideblomster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 20%;
    max-width: 150px;
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: 100;
}


.boks {
    background-color: var(--groen);
    color: var(--groen);
    opacity: 80%;
    height: 12em;
    width: 45%;
    position: absolute;
    top: 0%;
}

.overskrift1 {
    color: var(--beige);
    font: 'HWT Artz';
    letter-spacing: 2px;

    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    text-align: center;
    padding-top: 10%;
    font-family: 'hwt-artz', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
}

.infoboks {
    width: 100%;
    max-width: 600px;
    background-color: var(--groen);
}

#wave {
    max-width: 600px;
}

h2 {
    margin-top: 0%;
    padding-top: 10%;
    padding-left: 8%;
    text-align: left;
    font-family: 'hwt-artz', sans-serif;
    color: var(--gul);
}

p {
    padding: 8%;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--beige);
    font-family: 'du nord';
}



.sarabillede {
    width: 80%;
    padding: 10%;
}

.navigation-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-a {
    margin: 5%;
    margin-top: 0%;
}

.navigation {
    background-color: var(--groen);
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 0%;
    box-shadow: -5px 5px 5px grey;
    position: relative;
}

.nav-h {
    color: var(--gul);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'hwt-artz', sans-serif;
    font-size: 2em;
    text-align: left;
    margin: 0%;
    z-index: 10;

}

.nav-illu {
    position: absolute;
    right: 11px;
    bottom: -1.9px;
}

.middle {
    margin: 10%;
}

.o1 {
    color: var(--groen);
    font-size: 2em;
    font-family: 'hwt-artz';
    margin: 0;
    line-height: 1em;
    padding-top: 0.5em;
    text-align: center;
}

.o2 {
    color: var(--lysgroen);
    font-size: 1.3em;
    font-family: 'adobe-handwriting-ernie';
    margin: 0;
    line-height: 1em;
    padding-top: 0.5em;
    text-align: center;
}

.uoflex {
    display: flex;
    justify-content: left;
    width: 100%;
}

.uo {
    color: var(--groen);
    font-size: 1.8em;
    font-family: 'hwt-artz';
    padding-top: 0.5em;
    margin: 0;
}

.motto {
    color: var(--lysgroen);
    font-size: 1.2em;
    font-family: 'adobe-handwriting-ernie';
    margin: 0;
    line-height: 1em;
    margin-top: 0.5em;
    margin-right: 0.8em;
    text-align: center;
}

.flexbox-content {
    display: flex;
    flex-wrap: wrap;
}

.broedtext2 {
    color: var(--groen);
    font-size: 1em;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    font-family: 'du nord';
    width: 100%;
    line-height: 1.3em;
}

.bafsara {
    width: 80%;
    padding: 10%;
}

.fl1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.fl2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.fl3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.fl4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.b11 {
    width: 100%;
    max-width: 300px;
    margin-top: 1.3em;
    margin-bottom: 1em;
    border-radius: 20px;
}


.footer {
    position: relative;
}

.footer-boks {
    padding-top: 5%;
    width: 100%;
    height: 100px;
    background-color: var(--groen);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.okologi {
    width: 50px;
    height: 50px;
    margin: 5%;
}

.kontakt {
    margin-left: 5%;
    color: var(--beige);
    font-family: 'du nord';
    font-size: 0.9em;
    width: 70%;
    position: relative;
}

.somelogo {
    position: absolute;
    top: 3em;
    right: 4em;
    width: 8%;
}

.footerbolge {
    position: relative;
    top: 0.5em;
    z-index: -10;
}

@media only screen and (min-width: 430px) {
    .somelogo {
        right: 6em;
    }
}


@media only screen and (min-width: 490px) {
    .somelogo {
        max-width: 36px;
        right: 6em;
    }

    .kontakt {
        width: 60%;
    }
}

@media only screen and (min-width: 560px) {
    .kontakt {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {

    .header {
        height: 15em;
    }

    .boks {
        height: 15em;
        width: 50%;
    }

    .infoboks {
        width: 100%;
    }

    #wave {
        width: 100%;
    }

    .bigscreen-flex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .infowave {
        width: 50%;
    }

    .sarabillede {
        width: 40%;
        height: fit-content;
        padding: 5%;
    }

    .nav-a {
        margin-left: 10%;
    }

    .kontakt {
        margin-left: 5%;
        color: var(--beige);
        font-family: 'du nord';
        font-size: 0.9em;
        position: relative;
    }

    .somelogo {
        position: absolute;
        top: 3em;
        right: 6em;
        width: 8%;
    }

}

@media only screen and (min-width: 715px) {

    .navigation-flex {
        margin-top: 5%;
    }

    .nav-a {
        margin-left: 2%;
        margin-right: 2%;
    }

    .somelogo {
        right: 6em;
    }

    .kontakt {
        width: 40%;
    }

    .broedtext2 {
        line-height: 1.5em;
    }
}

@media only screen and (min-width: 900px) {

    .logo {
        left: 2%;
    }

    .header {
        height: 25em;
    }

    .boks {
        height: 25em;
    }

    .overskrift1 {
        font-size: 8em;
    }

    .sarabillede {
        width: 40%;
    }

    .navigation {
        width: 200px;
        height: 200px;
    }

    .navigation-flex {
        margin-top: 0%;
    }

    .nav-a {
        margin-left: 1%;
        margin-right: 1%;
    }

    .somelogo {
        right: 6em;
    }

    .kontakt {
        width: 30%;
    }

    .footer-boks {
        padding-top: 0%;
    }

    .okologi {
        margin-top: 0%;
    }

    .middle {
        margin: 5%;
    }

    .broedtext2 {
        width: 90%;
        font-size: 1.1em;
        margin-top: 0.5em;
    }

    .motto {
        font-size: 1.4em;
    }

    .txom {
        width: 50%;
    }

    .b11 {
        width: 50%;
    }

    .uo {
        margin-top: 0.5em;
    }

    .fl1,
    .fl2,
    .fl3,
    .fl4 {
        margin-bottom: 2em;
    }

    .flexbox-content {
        margin-top: 2em;
    }
    .motto {margin-right: 2em;}
}

@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .nav-a {
        margin-left: 2%;
        margin-right: 2%;
    }

    .footer-p {
        font-size: 1em;
    }

    .o1 {
        font-size: 2.5em;
    }

    .o2 {
        font: 2em;
    }

    .broedtext2 {
        font-size: 1.2em;
        line-height: 1.8em;
    }

    .motto {
       font-size: 1.6em;
       margin-top: 1em;
    }
    .motto {margin-right: 2.5em;}
}

@media only screen and (min-width: 1200px) {

    .header {
        height: 35em;
    }

    .infowave {
        max-width: 575px;
    }

    .boks {
        max-width: 575px;
        height: 35em;
    }

    .overskrift1 {
        font-size: 12em;
        padding-top: 5%;
    }

    .bigscreen-flex {
        justify-content: space-between;
    }

    .navigation {
        width: 250px;
        height: 250px;
    }

    .nav-h {
        font-size: 3em;
    }

    p {
        line-height: 2em;
    }

    .footer-p {
        line-height: 1em;
    }

    .okologi {
        margin-bottom: 0%;
    }

    .o1 {
        font-size: 3em;
    }

    .o2 {
        font-size: 1.6em;
    }
.motto {margin-right: 2.5em;}
}