:root {
    --groen: #2a5a43;
    --beige: #e7e6d7;
    --lysgroen: #5c7860;
    --gul: #f9eb9e;
}

body {
    width: 100%;
    height: auto;
    margin: 0%;
    background-color: var(--beige);
}

.header {
    width: 100%;
    height: 12em;
    background-image: url(/images/forsideblomster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 20%;
    max-width: 150px;
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: 100;
}


.boks {
    background-color: var(--groen);
    color: var(--groen);
    opacity: 80%;
    height: 12em;
    width: 45%;
    position: absolute;
    top: 0%;
}

.overskrift1 {
    color: var(--beige);
    font: 'HWT Artz';
    letter-spacing: 2px;

    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    text-align: center;
    padding-top: 10%;
    font-family: 'hwt-artz', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
}

.infoboks {
    width: 100%;
    max-width: 600px;
    background-color: var(--groen);
}

#wave {
    max-width: 600px;
}

h2 {
    margin-top: 0%;
    padding-top: 10%;
    padding-left: 8%;
    text-align: left;
    font-family: 'hwt-artz', sans-serif;
    color: var(--gul);
}

p {
    padding: 8%;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--beige);
    font-family: 'du nord';
}



.sarabillede {
    width: 80%;
    padding: 10%;
}

.navigation-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-a {
    margin: 5%;
    margin-top: 0%;
}

.navigation {
    background-color: var(--groen);
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 0%;
    box-shadow: -5px 5px 5px grey;
    position: relative;
}

.nav-h {
    color: var(--gul);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'hwt-artz', sans-serif;
    font-size: 2em;
    text-align: left;
    margin: 0%;
    z-index: 10;

}

.nav-illu {
    position: absolute;
    right: 11px;
    bottom: -1.9px;
}

.blomsterbillede {
    width: 80%;
    border-radius: 20px;
    position: relative;
    margin: 9%;
    box-shadow: -5px 5px 5px grey;
}

h4 {
    font-size: 2em;
    margin-top: 0%;
    padding-top: 2%;
    text-align: center;
    font-family: 'hwt-artz', sans-serif;
    color: var(--groen);

}
h3 {
    font-size: 2em;
    margin-top: 0%;
    padding-top: 2%;
    text-align: center;
    font-family: 'hwt-artz', sans-serif;
    color: var(--groen);

}

.tekst {
    padding: 8%;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--groen);
    line-height: 150%;
    font-family: 'du nord';
    font-size: 1em;
}
.footer {
    position: relative;
}


.fade {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade.appear {
    opacity: 1;
}

.footer-boks {
    padding-top: 5%;
    width: 100%;
    height: 100px;
    background-color: var(--groen);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.okologi {
    width: 50px;
    height: 50px;
    margin: 5%;
}

.kontakt {
    margin-left: 5%;
    color: var(--beige);
    font-family: 'du nord';
    font-size: 0.9em;
    width: 70%;
    position: relative;
}

.somelogo {
    position: absolute;
    top: 3em;
    right: 4em;
    width: 8%;
}

.footerbolge {
    position: relative;
    top: 0.5em;
    z-index: -10;
}

@media only screen and (min-width: 430px) {
    .somelogo {
        right: 6em;
    }
}


@media only screen and (min-width: 490px) {
    .somelogo {
        max-width: 36px;
        right: 6em;
    }

    .kontakt {
        width: 60%;
    }
}

@media only screen and (min-width: 560px) {
    .kontakt {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {

    .header {
        height: 15em;
    }

    .boks {
        height: 15em;
        width: 50%;
    }

    .infoboks {
        width: 100%;
    }

    #wave {
        width: 100%;
    }

    .bigscreen-flex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .infowave {
        width: 50%;
    }

    .sarabillede {
        width: 40%;
        height: fit-content;
        padding: 5%;
    }

    .nav-a {
        margin-left: 10%;
    }

    .kontakt {
        margin-left: 5%;
        color: var(--beige);
        font-family: 'du nord';
        font-size: 0.9em;
        position: relative;
    }

    .somelogo {
        position: absolute;
        top: 3em;
        right: 6em;
        width: 8%;
    }
    .blomsterbillede {
        width: 30%;
        border-radius: 20px;
        position: relative;
        margin: 2%;
        box-shadow: -5px 5px 5px grey;
        margin-left: 35%;
    }
    .tekst {
        padding: 5%;
        padding-top: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        color: var(--groen);
        line-height: 150%;
        font-family: 'du nord';
        font-size: 110%;
        width: 60%;
        margin-left: 17%;
    }

}

@media only screen and (min-width: 715px) {

    .navigation-flex {
        margin-top: 5%;
    }

    .nav-a {
        margin-left: 2%;
        margin-right: 2%;
    }

    .somelogo {
        right: 6em;
    }

    .kontakt {
        width: 40%;
    }

}

@media only screen and (min-width: 900px) {

    .logo {
        left: 2%;
    }

    .header {
        height: 25em;
    }

    .boks {
        height: 25em;
    }

    .overskrift1 {
        font-size: 8em;
    }

    .sarabillede {
        width: 40%;
    }

    .navigation {
        width: 200px;
        height: 200px;
    }

    .navigation-flex {
        margin-top: 0%;
    }

    .nav-a {
        margin-left: 1%;
        margin-right: 1%;
    }

    .somelogo {
        right: 6em;
    }

    .kontakt {
        width: 30%;
    }

    .footer-boks {
        padding-top: 0%;
    }

    .okologi {
        margin-top: 0%;
    }

}

@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .nav-a {
        margin-left: 2%;
        margin-right: 2%;
    }

    .footer-p {
        font-size: 1em;
    }

    .tekst {
        padding: 5%;
        padding-top: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        color: var(--groen);
        line-height: 150%;
        font-family: 'du nord';
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1200px) {

    .header {
        height: 35em;
    }

    .infowave {
        max-width: 575px;
    }

    .boks {
        max-width: 575px;
        height: 35em;
    }

    .overskrift1 {
        font-size: 12em;
        padding-top: 5%;
    }

    .bigscreen-flex {
        justify-content: space-between;
    }

    .navigation {
        width: 250px;
        height: 250px;
    }

    .nav-h {
        font-size: 3em;
    }

    p {
        line-height: 2em;
    }

    .footer-p {
        line-height: 1em;
    }

    .okologi {
        margin-bottom: 0%;
    }

}