:root {
    --groen: #2a5a43;
    --beige: #e7e6d7; 
    --lysgroen: #5c7860;
    --gul: #f9eb9e;
  }

  @font-face {
    font-family: 'du nord';
    src: url(/fonts/DuNord-Regular.otf);
  }

body {
    width: 100%;
    height: auto;
    margin: 0%;
    background-color: var(--beige);
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 12em;
}

.forsidebillede {
    width: 100%;
    height: 100%;
}

.logo {
    width: 20%;
    max-width: 150px;
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: 100;
}


.boks {
    background-color: var(--groen);
    color: var(--groen);
    opacity: 80%;
    height: 12em;
    width: 45%;
    position:absolute;
    top: 0%;
}

.overskrift1 {
    color: var(--beige);
    font: 'HWT Artz';
    letter-spacing: 2px;

    width: 100%;
    z-index: 200;
    position: absolute;
    text-align: center;
    top: 5%;
    padding-top: 10%;
    margin: 0%;
    font-family: 'hwt-artz',sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
}

.infoboks {
    width: 100%;
    max-width: 600px;
    background-color: var(--groen);
}

#wave {
    max-width: 600px;
}

h2 {
    margin-top: 0%;
    padding-top: 10%;
    padding-left: 8%;
    text-align: left;
    font-family: 'hwt-artz',sans-serif;
    color: var(--gul);
}

p {
    padding: 8%;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--beige);
    font-family: 'du nord';
}



.sarabillede {
    width: 80%;
    padding: 10%;
}

.navigation-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-a {
    margin: 5%;
    margin-top: 0%; 
}

.navigation {
    background-color: var(--groen);
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 0%;
    box-shadow: -5px 5px 5px grey;
    position: relative;
}

.video {
    border-radius: 20px;
    max-height: 500px;
    overflow: hidden;
}

.nav-h {
    color: var(--gul);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'hwt-artz',sans-serif;
    font-size: 2em;
    text-align: left;
    margin: 0%;
    z-index: 10;

}

.nav-illu {
    position: absolute;
    right: 11px;
    bottom: -1.9px;
}
h1{
    text-align: center;
    font-size: 2.5em;
    font-family: 'hwt-artz',sans-serif;
    color: #2a5a43;
}

h3{
    text-align: center;
    font-size: 1.5em;
    font-family: 'adobe-handwriting-ernie';
    color: #2a5a43;
    
    
}
h4{
    font-size: 1.5em;
    font-family: 'hwt-artz',sans-serif;
    color: #2a5a43;   
}

.proces-h4 {
    text-align: left;
    padding-left:8% ;
}


.home-intro{
    margin-top: 20%;
}
.txt{
    font-size: 1em;
    font-family:'du nord';
    color: var(--groen);
    text-align: left;
    
}
.btn-txt{
    margin-bottom: 2%;
}
.bil1{
    display: none;
    width: 35%;
}
.bil2{
    display: block;
    width: 85%;
}

.procesimg{
    width: 100%; 
    max-width: 450px;
    border-radius: 20px;
}
.process{
    display: flex;
    flex-direction: column;
}

.col-fade-in {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
margin-top: %;
margin-bottom: 0%;
text-align: center;
}

.text-pro{
    width: 90%;
    line-height: 1.1;
    margin-top: 2%;
margin-bottom: 2%;
}

.col-fade-in {
    opacity: 0;
    transition: opacity 1000ms ease-in;
  }
  .col-fade-in.appear {
    opacity: 1;
  }





.footer {
    position: relative;
}

.footer-boks {
    
    width: 100%;
    height: 100px;
    background-color: var(--groen);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.okologi {
    width: 50px;
    height: 50px;
    margin: 5%;
}

.kontakt {
    margin-left: 5%;
    color: var(--beige);
    font-family: 'du nord';
    font-size: 0.9em;
    width: 70%;
    position: relative;
}

.somelogo {
    position:absolute;
    top: 3em;
    right: 4em;
    width: 8%;
}

.footerbolge {
    position: relative;
    top: 0.5em;
    z-index: -10;
}

@media only screen and (min-width: 430px) {
    .somelogo {
        right: 6em;
    }
    
    
    
}


@media only screen and (min-width: 490px) {
    .somelogo {
        max-width:36px;
        right: 6em;
    }

    .kontakt {
        width: 60%;
    }
}

@media only screen and (min-width: 560px) {
    .kontakt {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {

    .header {
        height: 15em;
    }

    .boks {
        height: 15em;
        width: 50%;
    }

    .infoboks {
        width: 100%;
    }

    #wave {
        width: 100%;
    }

    .bigscreen-flex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .infowave {
        width: 50%;
    }

    .sarabillede {
        width: 40%;
        height: fit-content;
        padding: 5%;
    }

    .nav-a {
        margin-left: 10%;
    }

    .kontakt {
        margin-left: 5%;
        color: var(--beige);
        font-family: 'du nord';
        font-size: 0.9em;
        position: relative;
    }
    
    .somelogo {
        position:absolute;
        top: 3em;
        right: 6em;
        width: 8%;
    }
    .col-fade-in {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        margin-top: 4%;
        margin-bottom: 4%;
        
        }
        .bil1{
            display: block;
            width: 85%;
            margin: 2%;
        }
        .bil2{
            display: none;
            width: 90%;
        }
        .home-intro{
            margin-top: 5%;
        }

    
        .video {
            max-height: 400px;
        }
}

@media only screen and (min-width: 715px) {

    .navigation-flex {
        margin-top: 5%;
    }

    .nav-a {
        margin-left: 2%;
        margin-right: 2%;
    }

    .somelogo {
        right: 6em;
    }

    .kontakt {
        width: 40%;
    }
    .col-fade-in {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 1%;
        }

    .text-pro{
        width: 40%;
        margin: 5%;
        line-height: 1.1;
    }
    .bil1{
        max-width: 300px;
        width: 40%;
        margin-left: 0%;
        margin-right: 0%;
    }

}

@media only screen and (min-width: 900px) {

    .logo {
        left: 2%;
    }

    .header {
        height: 25em;
    }

    .boks {
        height: 25em;
    }

    .overskrift1 {
        font-size: 8em;
    }

    .sarabillede {
        width: 40%;
    }

    .navigation {
        width: 200px;
        height: 200px;
    }

    .navigation-flex {
       margin-top: 0%;
    }

    .nav-a {
        margin-left: 1%;
        margin-right: 1%;
    }

    .somelogo {
        right: 6em;
    }

    .kontakt {
        width: 30%;
    }

    .footer-boks {
        padding-top: 0%;
    }

    .okologi {
        margin-top: 0%;
    }
    .bil1{
        width: 85%;
    }

}

@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .proces-h4 {
        font-size: 2em;
    }

    .nav-a {
        margin-left: 2%;
        margin-right: 2%;
    }

    .footer-p {
        font-size: 1em;
    }
    .bil1{
        width: auto;
        max-width: 550px;
    }

    .video {
        max-height: 600px;
    }

    .text-pro {
        margin: 2%;
    }

    .txt{
        font-size: 1.2em;}
}

@media only screen and (min-width: 1200px) {

    .header {
        height: 35em;
    }

    .infowave {
        max-width: 575px;
    }

    .boks {
        max-width: 575px;
        height: 35em;
    }

    .overskrift1 {
        font-size: 12em;
        padding-top: 5%;
    }

    .bigscreen-flex {
        justify-content: space-between;
    }

    .navigation {
        width: 250px;
        height: 250px;
    }

    .nav-h {
        font-size: 3em;
    }

    p {
        line-height: 2em;
    }

    .footer-p {
        line-height: 1em;
    }

    .okologi {
        margin-bottom: 0%;
    }
    .bil1{
        width: 85%;
    }
   
    h1{
        font-size: 4em;
    }
    h3{
        font-size: 2.5em;
    }
    h4{
        font-size: 3em;
    }
    .txt{
        font-size: 1.33em;
    }
    

}